* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    color: rgb(20, 20, 19);
    background: linear-gradient(90deg, #e44dd7, #4114a1);
    width: auto;
  }
  
  form {
    max-width: 400px;
    margin: 35px auto;
    border-radius: 0px;
    padding: 10px 15px;
    background: #f3f1f3 ;
  }
  
  h3 {
    margin: 0 0 0px 0;
    text-align: center;
    margin-top: 19px;
  }
  
  .alert {
    text-align: center;
    padding: 10px;
    background: rgb(168, 240, 177);
    color: green;
    margin-bottom: 10px;
    display: none;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='month'],
  input[type='college_ID'],
  input[type='file']
  select {
    background: rgb(249, 250, 250);
    border: 1px;
    margin-bottom: 15px;
    box-shadow: 2px;
    color: rgb(253, 253, 243);
    background-color: rgb(145, 121, 211);
    width: 100%;
    padding: 10px;
    margin: 0;
    height: auto;
    font-size: 15px;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .section {
    background-color: rgb(122, 68, 158);
    color: white;
    height: 29px;
    display: inline-block;
    width: 29px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    margin-right: 4px;
    font-size: 0.7em;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  button {
    padding: 15px 30px;
    color: whitesmoke;
    background: linear-gradient(90deg, #e44dd7, #4114a1);
    font-size: 15px;
    margin: 40px 0px 0px;
    width: 100%;
    text-align: center;
    border-radius: 0px;
  }
  
  @media screen and (min-width: 480px) {
    form {
      max-width: 480px;
    }
  }





  footer {
    text-align: center;
    padding: 0px;
    color: white;
    position:static;
    width: 100%;
    left: 0px;
    bottom: 0px;
    }
    
    .footer-basic {
    padding:0px 0;
    bottom:0;
    background-color:white;
    color:#4d4d4b;
    }
    
    .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:14px;
    line-height:0.5;
    margin-bottom:0;
    }
    
    .footer-basic li {
    padding:0 10px;
    }
    
    .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    }
    
    .footer-basic ul a:hover {
    opacity:1;
    }
    
    .footer-basic .social {
    text-align:center;
    padding-bottom:10px;
    }
    
    .footer-basic .social > a {
    font-size:25px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
    }
    
    .footer-basic .social > a:hover {
    opacity:0.9;
    }
    
    .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
    }
  







    /* Style all input fields */
    input[type='password'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}


/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}